<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>支付宝口令红包 - 码商管理后台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {include file="/common/link"}
    <style>
        .layui-card-body fieldset {
            margin: 0;
            border: 1px solid #e6e6e6;
            padding: 10px 20px 5px 20px;
            color: #6b6b6b;
        }
    </style>
</head>
<body layadmin-themealias="default">
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <fieldset id="searchFieldset_currentTableRenderId" class="table-search-fieldset layui-hide1">
                <legend>高级搜索</legend>
                <form class="layui-form layui-form-pane form-search">
                    <div class="layui-form-item layui-inline">
                        <label class="layui-form-label">店铺名称</label>
                        <div class="layui-input-inline">
                            <input name="name" data-search-op="=" value="" placeholder="请输入店铺名称" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-inline">
                        <label class="layui-form-label">店铺类型</label>
                        <div class="layui-input-inline">
                            <select name="type" id="type" class="layui-input">
                                <option value="">请选择</option>
                                <option value="1">淘宝店铺</option>
                                <option value="2">拼多多店铺</option>
                                <option value="3">苏宁店铺</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item layui-inline" style="margin-left: 115px">
                        <button type="submit" class="layui-btn layui-btn-normal" data-type="tableSearch"
                                data-table="currentTableRenderId" lay-submit
                                lay-filter="shop-search"> 搜 索
                        </button>
                        <button type="reset" class="layui-btn layui-btn-primary"
                                data-table-reset="currentTableRenderId"> 重 置
                        </button>
                    </div>
                </form>
            </fieldset>
            <table class="layui-hide" id="shopList" lay-filter="channelFilter"></table>
        </div>
    </div>
</div>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm layui-btn-normal layui-paycodeadmin" lay-event="add">添加</button>
    </div>
</script>

<script type="text/html" id="table-channel">
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script src="/public/static/member/lib/layui-v2.6.3/layui.js"></script>
<script src="/public/static/member/js/lay-config.js?v=2.0.0" charset="utf-8"></script>
<script>
    layui.use(['table', 'form', 'layer', 'miniTab'], function () {
        var table = layui.table;
        var $ = layui.$;
        var form = layui.form;
        var layer = layui.layer;
        var miniTab = layui.miniTab;
        table.render({
            elem: '#shopList'
            , url: "/member/shop/getShopList"
            , page: true
            , defaultToolbar: ['exports']
            , toolbar: '#toolbarDemo'
            , response: {
                statusCode: 1
            }
            , width: '100%'
            , cols: [[
                {field: 'id', align:"center",width: 80 ,title: 'ID'}
                , {field: 'name', align:"center" , width:100, title: '店铺名称', align:"center" }
                , {field: 'type' ,width:100, title: '店铺类型', templet:function (d) {
                        let type_text = '---';
                        if (d.type == 1){
                            type_text = '淘宝店铺';
                        }else if(d.type == 2){
                            type_text = '拼多多店铺';
                        } else if(d.type  == 3){
                            type_text = '苏宁店铺';
                        }
                        return type_text;
                    } }
                , {width: 340, title: '操作', toolbar: "#table-channel", fixed: 'right'}
            ]]
        });
        form.on('switch(editStatus)', function (data) {
            //获取所需属性值
            var status = data.elem.attributes['code_status'].nodeValue;
            var coid = data.elem.attributes['coid'].nodeValue;
            // console.log(coid)
            $.ajax({
                url: "{:url('pay_code/disactiveCode')}?coid=" + coid,
                method: 'post',
                data: {status: status},
                success: function (res) {
                    if (res.code == 1) {
                        layer.msg('操作成功', {icon: 1, time: 1500})
                        table.reload('payCode'); //数据刷新
                    } else {
                        layer.msg('操作失败', {icon: 2, time: 1500})
                    }
                }
            })
        })
        table.on('tool(channelFilter)', function (obj) {
            if (obj.event === 'edit') {  // 监听添加操作
                layer.open({
                    type: 2
                    , title: '编辑商铺'
                    , content: "edit_shop?id=" + obj.data.id
                    , maxmin: true
                    , area: ['60%', '60%']
                    , btn: ['确定', '取消']
                    , yes: function (index, layero) {
                        var iframeWindow = window['layui-layer-iframe' + index]
                            , submitID = 'app-shop-submit'
                            , submit = layero.find('iframe').contents().find('#' + submitID);
                        //监听提交
                        iframeWindow.layui.form.on('submit(' + submitID + ')', function (obj) {
                            var field = obj.field; //获取提交的字段
                            //提交 Ajax 成功后，静态更新表格中的数据
                            $.ajax({
                                url: "saveShop",
                                method: 'POST',
                                data: field,
                                success: function (res) {
                                    if (res.code == 1) {
                                        table.reload('shopList'); //数据刷新
                                        layer.close(index); //关闭弹层
                                    }
                                    layer.msg(res.msg, {icon: res.code == 1 ? 1 : 2, time: 1500});
                                }
                            });
                        });
                        submit.trigger('click');
                    }
                });
            }else if(obj.event === 'del'){

                layer.confirm('确定该店铺吗？', function (index) {
                    $.ajax({
                        url: "del_shop?id=" + obj.data.id,
                        method: 'POST',
                        success: function (res) {
                            if (res.code == 1) {
                                table.reload('shopList');
                            }
                            layer.msg(res.msg, {icon: res.code == 1 ? 1 : 2, time: 1500});
                            layer.close(index); //关闭弹层
                        }
                    });
                });
            }
        });
        table.on('toolbar(channelFilter)', function (obj) {
            if (obj.event === 'add') {  // 监听添加操作
                layer.open({
                    type: 2
                    , title: '添加'
                    , content: "add_shop"
                    , maxmin: true
                    , area: ['60%', '80%']
                    , btn: ['确定', '取消']
                    , yes: function (index, layero) {
                        var iframeWindow = window['layui-layer-iframe' + index]
                            , submitID = 'app-shop-submit'
                            , submit = layero.find('iframe').contents().find('#' + submitID);

                        //监听提交
                        iframeWindow.layui.form.on('submit(' + submitID + ')', function (obj) {
                            var field = obj.field; //获取提交的字段
                            $.ajax({
                                url: 'saveShop',
                                method: 'POST',
                                data: field,
                                success: function (res) {
                                    if (res.code == 1) {
                                        table.reload('shopList'); //数据刷新
                                        layer.close(index); //关闭弹层
                                    }
                                    layer.msg(res.msg, {icon: res.code == 1 ? 1 : 2, time: 1500});

                                }
                            });
                        });
                        submit.trigger('click');
                    }
                });
            }
        });
        // 监听搜索操作
        form.on('submit(shop-search)', function (data) {
            table.reload('shopList', {
                page: {
                    curr: 1
                }
                , where: data.field
            }, 'data');
            return false;
        });
    });
</script>

</body>
</html>
