<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>服务商资金明细 - 服务商管理 - 码商管理后台</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  {include file="/common/link"}

  <style>
    .table-responsive-y table, .table-responsive-y thead, .table-responsive-y tbody, .table-responsive-y th, .table-responsive-y td, .table-responsive-y tr {
      display: block
    }

    .table-responsive-y thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px
    }

    .table-responsive-y tr {
      border: 1px solid #ccc
    }

    .table-responsive-y td {
      border: 0;
      border-bottom: 1px solid #eee;
      position: relative;
      padding: 5px;
      padding-left: 35%;
      white-space: normal;
      text-align: left;
      height: auto !important;
      min-height: 35px;
      line-height: auto !important;;
    }

    .table-responsive-y td:before {
      position: absolute;
      top: 6px;
      left: 6px;
      width: 40%; /*这里可能没用*/
      padding-right: 10px;
      white-space: nowrap;
      text-align: left;
      font-weight: bold;
      height: auto !important;
      line-height: auto !important;
    }

    .table-responsive-y td:before {
      content: attr(data-title)
    }

    .table-responsive-y h3 a {
      font-size: 16px;
      color: #3cbfae;
      font-weight: bold
    }
  </style>
</head>
<body>
<div class="layuimini-container">
  <div class="layuimini-main">
    <fieldset class="table-search-fieldset">
      <legend>高级搜索---默认加载今日数据</legend>
      <div style="margin: 10px 10px 10px 10px">
        <form class="layui-form layui-form-pane" action="">
          <div class="layui-form-item">

            <div class="layui-inline">
              <label class="layui-form-label">账变类型</label>
              <div class="layui-input-inline">
                <select class="layui-select" name="bill_type">
                  <option value="">全部</option>
                  {notempty name="billTypes"}
                  {foreach $billTypes as $k => $v}
                  <option value="{$k}">{$v}</option>
                  {/foreach}
                  {/notempty}
                </select>
              </div>
            </div>

            <div class="layui-inline">
              <label class="layui-form-label">收/支</label>
              <div class="layui-input-inline">
                <select class="layui-select" name="jc_class">
                  <option value="">全部</option>
                  <option value="+">收入</option>
                  <option value="-">支出</option>
                </select>
              </div>
            </div>

            <div class="layui-inline">
              <label class="layui-form-label">交易时间</label>
              <div class="layui-inline" id="test-range">
                <div class="layui-input-inline">
                  <input type="text" id="startDate" name="startDate" autocomplete="off" class="layui-input app-laydate-item" placeholder="yyyy-MM-dd HH:mm:ss">
                </div>
                <div class="layui-form-mid">-</div>
                <div class="layui-input-inline">
                  <input type="text" id="endDate" name="endDate" autocomplete="off" class="layui-input app-laydate-item" placeholder="yyyy-MM-dd HH:mm:ss">
                </div>
              </div>
            </div>

            <div class="layui-inline">
              <button type="submit" class="layui-btn layui-btn-primary"  lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
            </div>
          </div>
        </form>
      </div>
    </fieldset>

    <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

  </div>
</div>
</body>
</html>
{include file="common/js"}
<script>

  function timestampToTime(timestamp) {
    // 时间戳为10位需*1000，时间戳为13位不需乘1000
    var date = new Date(timestamp * 1000);
    var Y = date.getFullYear() + "-";
    var M =
            (date.getMonth() + 1 < 10
                    ? "0" + (date.getMonth() + 1)
                    : date.getMonth() + 1) + "-";
    var D = (date.getDate() < 10 ? "0" + date.getDate() : date.getDate()) + " ";
    var h = date.getHours() + ":";
    var m = date.getMinutes() + ":";
    var s = date.getSeconds();
    return Y + M + D + h + m + s;
  }


  function booksTemplet(data) {
    $('.book-box').remove();//移除上一个
    var h = $('<div></div>');
    if (data.length > 0) {
      data.forEach(function (item, index) {
        var d = $('<div class="table-responsive-y"></div>');
        var d_table = $('<table class=""></table>');
        var d_table_thead = $('<thead></thead>')
        var d_table_thead_tr = $('<tr></tr>')

        var d_table_tbody = $('<tbody></tbody>')
        var d_table_tbody_tr = $('<tr></tr>')

        d_table_tbody_tr.append($('<td data-title="服务商名称">'+ item.username +'</td>'))
        d_table_tbody_tr.append($('<td data-title="账变类型">'+ item.jl_class +'</td>'))
        d_table_tbody_tr.append($('<td data-title="事件">'+ item.info +'</td>'))
        d_table_tbody_tr.append($('<td data-title="变动前余额">'+ item.pre_amount +'</td>'))

        var num = '';
        if (item.jc_class == '+'){
          num = '<span style="color:green">'+item.jc_class + item.num+'</span>'
        }else{
          num = '<span style="color:red">'+item.jc_class + item.num+'</span>'
        }
        d_table_tbody_tr.append($('<td data-title="变动金额">'+ num +'</td>'))
        d_table_tbody_tr.append($('<td data-title="变动后余额">'+ item.last_amount +'</td>'))
        d_table_tbody_tr.append($('<td data-title="变动时间">'+ timestampToTime(item.addtime ) +'</td>'))


        d_table_thead.append(d_table_thead_tr);
        d_table_tbody.append(d_table_tbody_tr);

        d_table.append(d_table_thead);
        d_table.append(d_table_tbody);
        d.append(d_table)
        h.append(d)
      });

      $('.layui-table-box').after(h);
    }

  }

  //获取url中的参数
  function getUrlParam(name) {
    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
    var r = window.location.search.substr(1).match(reg);  //匹配目标参数
    if (r != null) return unescape(r[2]); return null; //返回参数值
  }

  var userid = getUrlParam('userid')
  console.log(userid);
  layui.use(['form', 'table','laydate'], function () {
    var $ = layui.jquery,
            form = layui.form,
            u = layui.util,
            laydate = layui.laydate,
            table = layui.table;

    lay('.app-laydate-item').each(function(k,v){
      var  timestamp=(k==0)?' 00:00:00':" 00:00:00";
      var date=new Date();
      date.setHours('00');date.setMinutes('00');date.setSeconds('00');
      if(k==1){
        date.setHours('23');date.setMinutes('59');date.setSeconds('59');
      }
      laydate.render({
        elem: this,
        format: 'yyyy-MM-dd',type:'datetime'
        ,istime:false
        ,value:date
        ,trigger: 'click'
      });
    });
    table.render({
      elem: '#currentTableId',
      url: "{:url('getBalanceDetails')}?userid={$userid}",
      cols: [[
        {field: 'username',  align: "center", title: '服务商名称'},
        {field: 'jl_class', align: "center",  title: '账变类型'},
        {field: 'info',align: "center", title: '事件'},
        {field: 'pre_amount', title: '变动前余额',align: "center"},
        {field: 'num',align: "center", title: '变动金额', templet: function (d){
              var num = '';
              if (d.jc_class == '+'){
                num = '<span style="color:green">'+d.jc_class + d.num+'</span>'
              }else{
                num = '<span style="color:red">'+d.jc_class + d.num+'</span>'
              }
              return num;
          }},
        {field: 'last_amount', align: "center",  title: '变动后余额'},
        {field: 'addtime',align: "center",  title: '变动时间', templet: function (d) {
            return u.toDateString(d.addtime * 1000);
          }},
      ]],
      limits: [10, 15, 20, 25, 50, 100],
      limit: 15,
      page: true,
      skin: 'line',
      done:function (res) {
        if (!isMobile()) {
          $('.layui-table-box').show();
          $('.book-box').hide();
        } else {
          booksTemplet(res.data);//填充视图模板
          $('.layui-table-box').hide();
          $('.book-box').show();
        }
      }
    });


    // 监听搜索操作
    form.on('submit(data-search-btn)', function (data) {
      var result = JSON.stringify(data.field);

      //执行搜索重载
      table.reload('currentTableId', {
        where: data.field,
        page: {
          curr: 1
        }
      }, 'data');

      return false;
    });


    //监听表格复选框选择
    table.on('checkbox(currentTableFilter)', function (obj) {
      console.log(obj)
    });



  });
</script>