<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>代付订单 - 服务商管理 - 码商管理后台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    {include file="/common/link"}
    <style>
        .table-responsive-y table, .table-responsive-y thead, .table-responsive-y tbody, .table-responsive-y th, .table-responsive-y td, .table-responsive-y tr {
            display: block
        }

        .table-responsive-y thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px
        }

        .table-responsive-y tr {
            border: 1px solid #ccc
        }

        .table-responsive-y td {
            border: 0;
            border-bottom: 1px solid #eee;
            position: relative;
            padding: 5px;
            padding-left: 35%;
            white-space: normal;
            text-align: left;
            height: auto !important;
            min-height: 35px;
            line-height: auto !important;;
        }

        .table-responsive-y td:before {
            position: absolute;
            top: 6px;
            left: 6px;
            width: 40%; /*这里可能没用*/
            padding-right: 10px;
            white-space: nowrap;
            text-align: left;
            font-weight: bold;
            height: auto !important;
            line-height: auto !important;
        }

        .table-responsive-y td:before {
            content: attr(data-title)
        }

        .table-responsive-y h3 a {
            font-size: 16px;
            color: #3cbfae;
            font-weight: bold
        }
    </style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <fieldset class="table-search-fieldset">
            <legend>高级搜索</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">码商用户名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="username" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">开工状态</label>
                            <div class="layui-input-inline">
                                <select class="layui-select" name="work_status">
                                    <option value="">全部</option>
                                    <option value="1">已开启</option>
                                    <option value="0">已关闭</option>
                                </select>
                            </div>
                        </div>

                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary"  lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>
        <blockquote class="layui-elem-quote layui-text mt-2">
            下级代理总余额：<span class="layui-badge layui-bg-black" id="total_money">{$total_money}</span> 元
        </blockquote>
        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                {if condition="$ms_add_son eq 1"}
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添加 </button>
                {/if}
                <button class="layui-btn layui-btn-danger layui-btn-sm data-add-btn" lay-event="batchCloseSonMsWorkStatus"> 关闭下级接单 </button>
            </div>
        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/javascript" charset="utf-8" id="table-work-status">
            <input type="checkbox" id="editSonWorkStatus" name="editSonWorkStatus" lay-filter="editSonWorkStatus" userid={{d.userid}} lay-skin="switch" ms_work_status={{d.work_status}} lay-text="已开启|已关闭" {{d.work_status == 1 ? 'checked':''}} />
        </script>

        <script type="text/html" id="currentTableBar">
            {{#  if(d.pid == '{$agent.username}'){ }}
            <a class="layui-btn  layui-btn-xs data-count-edit" lay-event="sysDaifuSonRate">代付费率</a>
            <a class="layui-btn  layui-btn-xs data-count-edit" lay-event="sysSonRate">费率设置</a>


            {{#  } }}


                    {if condition="$permit_ms_huafen_money eq 1"}
                    <a class="layui-btn  layui-btn-xs data-count-edit" lay-event="sysSonMoney">划分余额</a>
                    {/if}

        </script>

    </div>
</div>
</body>
</html>
{include file="common/js"}
<script>

    function timestampToTime(timestamp) {
        // 时间戳为10位需*1000，时间戳为13位不需乘1000
        var date = new Date(timestamp * 1000);
        var Y = date.getFullYear() + "-";
        var M =
            (date.getMonth() + 1 < 10
                ? "0" + (date.getMonth() + 1)
                : date.getMonth() + 1) + "-";
        var D = (date.getDate() < 10 ? "0" + date.getDate() : date.getDate()) + " ";
        var h = date.getHours() + ":";
        var m = date.getMinutes() + ":";
        var s = date.getSeconds();
        return Y + M + D + h + m + s;
    }


    function booksTemplet(data) {
        $('.book-box').remove();//移除上一个
        var h = $('<div></div>');
        if (data.length > 0) {
            data.forEach(function (item, index) {
                var d = $('<div class="table-responsive-y"></div>');
                var d_table = $('<table class=""></table>');
                var d_table_thead = $('<thead></thead>')
                var d_table_thead_tr = $('<tr></tr>')

                var d_table_tbody = $('<tbody></tbody>')
                var d_table_tbody_tr = $('<tr></tr>')

                d_table_tbody_tr.append($('<td data-title="ID">'+ item.userid +'</td>'))
                d_table_tbody_tr.append($('<td data-title="码商用户名">'+ item.username +'</td>'))
                d_table_tbody_tr.append($('<td data-title="层级">'+ item.level +'</td>'))
                d_table_tbody_tr.append($('<td data-title="上级">'+ item.pid +'</td>'))
                d_table_tbody_tr.append($('<td data-title="代付费率">'+ item.bank_rate +'</td>'))
                let work_status = item.work_status ? '开启' : '关闭';
                d_table_tbody_tr.append($('<td data-title="接单状态">'+work_status +'</td>'))
                let money = item.money + '<a href="javascript:void(0);" onclick="openBalanceDetails('+item.userid+',\''+item.username+'\')" style="color:#00b1ec" >&nbsp;查看明细</a>';
                d_table_tbody_tr.append($('<td data-title="余额">'+money +'</td>'))
                d_table_tbody_tr.append($('<td data-title="昨日跑量">'+item.yesterday_amount +'</td>'))
                d_table_tbody_tr.append($('<td data-title="今日跑量">'+item.today_daifu +'</td>'))
                d_table_tbody_tr.append($('<td data-title="昨日代付">'+item.yesterday_daifu +'</td>'))
                d_table_tbody_tr.append($('<td data-title="昨日代付">'+item.yesterday_daifu +'</td>'))
                d_table_tbody_tr.append($('<td data-title="昨日代付">'+item.today_daifu +'</td>'))
                d_table_tbody_tr.append($('<td data-title="添加时间">'+timestampToTime(item.reg_date) +'</td>'))


                let  handel = '';

                if(item.pid == '{$agent.username}') {
                    {if condition="$permit_ms_huafen_money eq 1"}

                        handel = ' <a href="javascript:;" class="layui-btn  layui-btn-xs data-count-edit" lay-event="sysDaifuSonRate" onclick="sysDaifuSonRate('+item.userid+')">代付费率</a>\n' +
                            '            <a href="javascript:;" class="layui-btn  layui-btn-xs data-count-edit" lay-event="sysSonRate" onclick="sysSonRate('+item.userid+')">费率设置</a>'
                    {/if}
                }


                {if condition="$agent.pid eq 0"}
                    {if condition="$permit_ms_huafen_money eq 1"}
                        handel += '<a href="javascript:;" class="layui-btn  layui-btn-xs data-count-edit" lay-event="sysSonMoney" onclick="sysSonMoney('+item.userid+')">划分余额</a>'
                    {/if}
                {else}
                    if(item.pid == '{$agent.username}') {
                        {if condition="$permit_ms_huafen_money eq 1"}
                            handel += '<a href="javascript:;" class="layui-btn  layui-btn-xs data-count-edit" lay-event="sysSonMoney" onclick="sysSonMoney('+item.userid+')">划分余额</a>'
                        {/if}
                    }
                {/if}



                d_table_tbody_tr.append($('<td data-title="操作">'+ handel +'</td>'))

                d_table_thead.append(d_table_thead_tr);
                d_table_tbody.append(d_table_tbody_tr);

                d_table.append(d_table_thead);
                d_table.append(d_table_tbody);
                d.append(d_table)
                h.append(d)
            });

            $('.layui-table-box').after(h);
        }

    }

    layui.use(['element','form', 'table'], function (exports) {
        var $ = layui.jquery,
            element = layui.element,
            u = layui.util,
            form = layui.form,
            layer = layui.layer,
            table = layui.table;




//跳转到【资金详情】--人员管理页面
//       window.navigateToTeamPersonModule = function (userid,username) {
//             window.parent.layui.element.tabAdd('layuiminiTab',
//                 {
//                     href: "{:url('MsSon/BalanceDetails')}?sonid="+userid,
//                     title: "下级服务商【"+ username +"】余额明细",
//                     content: '<iframe width="100%" height="100%" frameborder="no" border="0" marginwidth="0" marginheight="0" src="{:url(\'MsSon/BalanceDetails\')}?sonid="+userid></iframe>'
//                 }
//             );
//             window.parent.layui.element.tabChange('layuiminiTab', "{:url('MsSon/BalanceDetails')}?sonid="+userid);
//             //跳转的同时关闭弹窗，便于返回页面后请求接口
//             layer.close(layer.index);
//             layer.msg("服务商"+ username+"余额明细页面已打开，请前去查看",{time:1500});
//         }

        window.openBalanceDetails = function (userid,username){
            layer.open({
                title: '下级服务商【'+ username + '】资金明细',
                type: 2,
                shade: 0.2,
                maxmin:true,
                shadeClose: true,
                area: ['100%', '100%'],
                content: "{:url('MsSon/BalanceDetails')}?userid=" + userid,
            })
        }



        table.render({
            elem: '#currentTableId',
            url: "{:url('getMsSonList')}",
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            cols: [[
                {field: 'userid', width: 80, title: 'ID'},
                {field: 'username', width: 120,title: '码商用户名'},
                {if condition="$ms_select_level eq 1"}
                {field: 'level', width: 80,align: "center", title: '层级'},
                {/if}
                {field: 'pid', width: 100,align: "center", title: '上级'},
                {field: 'bank_rate', width: 100,align: "center", title: '代付费率'},
                {field: 'work_status', title: '接单状态',width: 105, toolbar: "#table-work-status"},
                {field: 'money',width: 180,title: '余额' ,templet: function (d) {
                        var money = d.money + '<a href="javascript:void(0);" onclick="openBalanceDetails('+d.userid+',\''+d.username+'\')" style="color:#00b1ec" >&nbsp;查看明细</a>';
                        return money;
                    }},
                {field: 'yesterday_amount', width: 100,title: '昨日跑量'},
                {field: 'today_amount', width: 100,title: '今日跑量'},
                {field: 'yesterday_daifu', width: 100,title: '昨日代付'},
                {field: 'today_daifu', width: 100,title: '今日代付'},
                {field: 'reg_date', width: 160, title: '添加时间', templet: function (d) {
                        return u.toDateString(d.reg_date * 1000);
                    }},
                {title: '操作', minWidth: 300, toolbar: '#currentTableBar', fixed: "right" }
            ]],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 15,
            page: true,
            skin: 'line',
            done:function (res) {
                if (!isMobile()) {
                    $('.layui-table-box').show();
                    $('.book-box').hide();
                } else {
                    booksTemplet(res.data);//填充视图模板
                    $('.layui-table-box').hide();
                    $('.book-box').show();
                }
            }
        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            var result = JSON.stringify(data.field);

            //执行搜索重载
            table.reload('currentTableId', {
                where: data.field,
                page: {
                    curr: 1
                }
            }, 'data');

            $.post('searchListMoney', data.field, function (res) {
                if (res.code == 1){
                    $('#total_money').text(res.data.total_money);
                }
            })


            return false;
        });

        /**
         * toolbar监听事件
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {  // 监听添加操作
                layer.open({
                    type: 2
                    , title: '添加'
                    , content: "{:url('MsSon/addSonUser')}"
                    , maxmin: true
                    , area: ['60%', '80%']
                    , btn: ['确定', '取消']
                    , yes: function (index, layero) {
                        var iframeWindow = window['layui-layer-iframe' + index]
                            , submitID = 'app-channel-submit'
                            , submit = layero.find('iframe').contents().find('#' + submitID);

                        //监听提交
                        iframeWindow.layui.form.on('submit(' + submitID + ')', function (obj) {
                            var field = obj.field; //获取提交的字段
                            $.ajax({
                                url: "{:url('MsSon/addSonUser')}",
                                method: 'POST',
                                data: field,
                                success: function (res) {
                                    if (res.code == 1) {
                                        table.reload('currentTableId'); //数据刷新
                                        layer.close(index); //关闭弹层
                                    }
                                    layer.msg(res.msg, {icon: res.code == 1 ? 1 : 2, time: 1500});

                                }
                            });
                        });

                        submit.trigger('click');
                    }
                });
            } else if (obj.event == 'batchCloseSonMsWorkStatus'){
                layer.confirm("确认关闭所有子级代理的接单状态？", function(d) {
                    $.ajax({
                        url: 'batchCloseSonMsWorkStatus',
                        method:'GET',
                        success:function (res) {
                            if (res.code == 1){
                                table.reload('currentTableId'); //数据刷新
                            }
                            layer.msg(res.msg, {icon: res.code == 1 ? 1: 2,time: 1500});
                            layer.close(d); //关闭弹层
                        }
                    });
                })
            }
        });

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });

        window.sysDaifuSonRate = function(userid){
            layer.prompt({
                formType: 3,
                placeholder: '输入代付费率',
                title: '设置代付费率',
            }, function(value, index, elem){
                $.ajax({
                    url: "{:url('setSonDaifuRate')}",
                    method: 'POST',
                    data: {
                        bank_rate:value,
                        userid:userid
                    },
                    success: function (res) {
                        if (res.code == 1) {
                            table.reload('currentTableId'); //数据刷新
                        }
                        layer.msg(res.msg, {icon: res.code == 1 ? 1 : 2, time: 1500});
                        layer.close(index); //关闭弹层
                    }
                })
            });
        }
        //费率设置
        window.sysSonRate =function(userid){
            layer.open({
                type: 2,
                content: "{:url('sysSonRate')}?userid=" + userid,
                title: '设置下级费率   （下级费率不可大于自身费率）',
                maxmin: !0, area: ['80%', '60%'],
                btn: ["确定", "取消"],
                yes: function (index, layero) {
                    var iframeWindow = window['layui-layer-iframe' + index]
                        , submitID = 'app-user-profit-submit'
                        , submit = layero.find('iframe').contents().find('#' + submitID);

                    //监听提交
                    iframeWindow.layui.form.on('submit('+ submitID +')', function (obj) {
                        var field = obj.field; //获取提交的字段
                        // var index = layer.msg("加载中.....", {time: 0, shade: 0.01});
                        console.log(field);
                        $.ajax({
                            url: "{:url('sysSonRate')}",
                            method: 'POST',
                            data: field,
                            success: function (res) {
                                if (res.code == 1) {
                                    table.reload('currentTableId'); //数据刷新
                                    // window.location.href
                                }
                                layer.msg(res.msg, {icon: res.code == 1 ? 1 : 2, time: 1500});
                                layer.close(index); //关闭弹层
                            }
                        })
                    });
                    submit.trigger('click')

                }
            });
        }
        //划分余额
        window.sysSonMoney = function(userid){
            layer.prompt({
                formType: 1
                , title: '请输入请输入安全码'
            }, function (value, index) {
                layer.close(index);
                layer.confirm('<input type="text" name="amount"  required  lay-verify="required" placeholder="请输入要变更的金额" autocomplete="off" class="layui-input">',
                    {
                        title: '变更下级余额',
                        btn: ['减少', '增加', '取消'] //可以无限个按钮
                    }, function(index, layero){
                        var money = $.trim($('input[name="amount"]').val());
                        $.ajax({
                            url: "{:url('editMerChantAmount')}?userid=" +userid+ "&money=" + money + "&status=0&pass=" + value,
                            method: 'POST',
                            success: function (res) {
                                if (res.code == 1) {
                                    table.reload('currentTableId'); //数据刷新
                                    // window.location.href
                                }
                                layer.msg(res.msg, {icon: res.code == 1 ? 1 : 2, time: 1500},function (){
                                    layer.close(index); //关闭弹层
                                });

                            }
                        })
                    }, function(index,layero){
                        var money = $.trim($('input[name="amount"]').val());
                        $.ajax({
                            url: "{:url('editMerChantAmount')}?userid=" +userid+ "&money=" + money + "&status=1&pass=" + value,
                            method: 'POST',
                            success: function (res) {
                                if (res.code == 1) {
                                    layer.msg(res.msg, {icon: res.code == 1 ? 1 : 2, time: 1500},function (){
                                        layer.close(index); //关闭弹层
                                    });
                                    table.reload('currentTableId'); //数据刷新
                                    // window.location.href
                                }else{
                                    layer.msg(res.msg, {icon: res.code == 1 ? 1 : 2, time: 1500},function (){
                                        layer.close(index); //关闭弹层
                                    });
                                }
                            }
                        })
                    });
            })

        }

        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'sysSonRate') {
                layer.open({
                    type: 2,
                    content: "{:url('sysSonRate')}?userid=" + obj.data.userid,
                    title: '设置下级费率   （下级费率不可大于自身费率）',
                    maxmin: !0, area: ['80%', '60%'],
                    btn: ["确定", "取消"],
                    yes: function (index, layero) {
                        var iframeWindow = window['layui-layer-iframe' + index]
                            , submitID = 'app-user-profit-submit'
                            , submit = layero.find('iframe').contents().find('#' + submitID);

                        //监听提交
                        iframeWindow.layui.form.on('submit('+ submitID +')', function (obj) {
                            var field = obj.field; //获取提交的字段
                            // var index = layer.msg("加载中.....", {time: 0, shade: 0.01});
                            console.log(field);
                            $.ajax({
                                url: "{:url('sysSonRate')}",
                                method: 'POST',
                                data: field,
                                success: function (res) {
                                    if (res.code == 1) {
                                        table.reload('currentTableId'); //数据刷新
                                        // window.location.href
                                    }
                                    layer.msg(res.msg, {icon: res.code == 1 ? 1 : 2, time: 1500});
                                    layer.close(index); //关闭弹层
                                }
                            })
                        });
                        submit.trigger('click')

                    }
                });
            } else if(obj.event === 'sysDaifuSonRate'){
                layer.prompt({
                    formType: 3,
                    placeholder: '输入代付费率',
                    title: '设置代付费率',
                }, function(value, index, elem){
                    $.ajax({
                        url: "{:url('setSonDaifuRate')}",
                        method: 'POST',
                        data: {
                            bank_rate:value,
                            userid:data.userid
                        },
                        success: function (res) {
                            if (res.code == 1) {
                                table.reload('currentTableId'); //数据刷新
                            }
                            layer.msg(res.msg, {icon: res.code == 1 ? 1 : 2, time: 1500});
                            layer.close(index); //关闭弹层
                        }
                    })
                });
            } else if (obj.event === 'sysSonMoney') {
//eg1
                layer.prompt({
                    formType: 1
                    , title: '请输入请输入安全码'
                }, function (value, index) {
                    layer.close(index);
                    layer.confirm('<input type="text" name="amount"  required  lay-verify="required" placeholder="请输入要变更的金额" autocomplete="off" class="layui-input">',
                        {
                            title: '变更下级余额',
                            btn: ['减少', '增加', '取消'] //可以无限个按钮
                        }, function(index, layero){
                            var money = $.trim($('input[name="amount"]').val());
                            $.ajax({
                                url: "{:url('editMerChantAmount')}?userid=" +obj.data.userid+ "&money=" + money + "&status=0&pass=" + value,
                                method: 'POST',
                                success: function (res) {
                                    if (res.code == 1) {
                                        table.reload('currentTableId'); //数据刷新
                                        // window.location.href
                                    }
                                    layer.msg(res.msg, {icon: res.code == 1 ? 1 : 2, time: 1500},function (){
                                        layer.close(index); //关闭弹层
                                    });

                                }
                            })
                        }, function(index,layero){
                            var money = $.trim($('input[name="amount"]').val());
                            $.ajax({
                                url: "{:url('editMerChantAmount')}?userid=" +obj.data.userid+ "&money=" + money + "&status=1&pass=" + value,
                                method: 'POST',
                                success: function (res) {
                                    if (res.code == 1) {
                                        layer.msg(res.msg, {icon: res.code == 1 ? 1 : 2, time: 1500},function (){
                                            layer.close(index); //关闭弹层
                                        });
                                        table.reload('currentTableId'); //数据刷新
                                        // window.location.href
                                    }else{
                                        layer.msg(res.msg, {icon: res.code == 1 ? 1 : 2, time: 1500},function (){
                                            layer.close(index); //关闭弹层
                                        });
                                    }
                                }
                            })
                        });
                })

            }
        });

        form.on('switch(editSonWorkStatus)',function (data) {
            //获取所需属性值
            var ms_work_status = data.elem.attributes['ms_work_status'].nodeValue;
            var userid = data.elem.attributes['userid'].nodeValue;
            //   console.log(ms_status)
            $.ajax({
                url:"{:url('MsSon/edit_son_work_status')}",
                method:'post',
                data:{status:ms_work_status,userid:userid},
                success:function(res){
                    if(res.code == 1){
                        layer.msg('操作成功',{icon:1,time:1500},function (){
                            // window.location.reload();
                            table.reload('currentTableId');
                        })
                    }else{
                        layer.msg('操作失败',{icon:2,time:1500}),function (){
                            window.location.reload();
                        }
                    }
                }
            })
        })

    });
</script>