<html>
<head>
  <meta charset="utf-8">
  <title>狂神系统-在线文档</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="__STATIC__/layui/css/layui.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/monokai-sublime.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>

</head>
<body layadmin-themealias="default">
<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-card-body">
      <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief" overflow="">
        <ul class="layui-tab-title">
          <li class="layui-this">签名规则</li>
          <li>充值api</li>
          <li>异步通知</li>
          <li>订单查询</li>
          <li>余额查询</li>
          <li>充值方式</li>
          <span class="layui-unselect layui-tab-bar" lay-stope="tabmore"><i lay-stope="tabmore" class="layui-icon"></i></span>
        </ul>
        <div class="layui-tab-content">
          <div class="layui-tab-item layui-show">
            <blockquote class="layui-elem-quote" style="word-break: break-all;">
              备注：<br>
              <blockquote class="layui-elem-quote layui-quote-nm">
                <b style="color: red;">除sign其余参数都要参与签名</b> 
              </blockquote>
              第一步：根据充值文档里面的参数，首字母大小写进行排序<br>
              <blockquote class="layui-elem-quote layui-quote-nm">
                amount=200&body=21&channel=taobao_pc¤cy=RMB&mchid=100001&amp;notify_url=http://127.0.0.1/notify.php&out_trade_no=1908241507119718&return_url=http://127.0.0.1/return.php&time_stamp=20190824030711
              </blockquote>
              第二步：排序结束后，增加&key=商户秘钥<br>
              <blockquote class="layui-elem-quote layui-quote-nm">
                amount=200&body=21&channel=taobao_pc&mchid=100001&amp;notify_url=http://127.0.0.1/notify.php&out_trade_no=1908241507119718&return_url=http://127.0.0.1/return.php&time_stamp=20190824030711&key=xxxx<br><br>
              </blockquote>
              第三步：md5加密12<br>
              <blockquote class="layui-elem-quote layui-quote-nm">
                进行md5,签名字符串全部转为小写
              </blockquote>
              PHP加密示例代码
              <blockquote class="layui-elem-quote layui-quote-nm">
                <style>
                  /* 格式化代码 */
                  pre code {
                    display: block;
                    padding-left: 2em;
                    text-indent: -2em;
                    text-align: left;
                  }
              
                  /* 添加复制按钮 */
                  .copy-btn {
                    background-color: #4CAF50;
                    border: none;
                    color: white;
                    padding: 8px 16px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 14px;
                    margin: 4px 2px;
                    cursor: pointer;
                    border-radius: 4px;
                  }
                </style>
                
                <pre>
                  <code class="php">
                    &lt;?php
                      function generateSign($data, $key) {
                        // 按字母顺序排序参数
                        ksort($data);
              
                        // 拼接参数和商户秘钥
                        $signData = '';
                        foreach ($data as $k => $value) {
                          $signData .= $k . '=' . $value . '&';
                        }
                        $signData .= 'key=' . $key;
              
                        // 使用MD5进行加密
                        return md5($signData);
                      }
              
                      $data = [
                        'amount' => '200.00',
                        'body' => "123",
                        'channel' => taobao_pc,
                        'currency' => 'RMB',
                        'mchid' => 100001,
                        'notify_url' => 'http://127.0.0.1/return.php',
                        'out_trade_no' => 2305242358355318,
                        'return_url' => 'http://127.0.0.1/return.php',
                        'time_stamp' => date("Ymdhis"),
                      ];
                      $key = $Md5key; // 商户秘钥
              
                      $sign = generateSign($data, $key);
               
                    ?&gt;
                  </code>
                </pre>
            
  
                <script src="https://cdn.jsdelivr.net/npm/highlight.js@10.7.2/lib/highlight.min.js"></script>
                <script>
                  hljs.initHighlightingOnLoad();
                </script>
                
              
              </blockquote>
            </blockquote>


          </div>
          <div class="layui-tab-item">
            <blockquote class="layui-elem-quote">
              网关地址：http://www.xxxx.com/api/pay/unifiedorder
              <br><br>
              注意要点：POST <strong style="color: red;font-size: 1.3rem">form-data</strong> 方式请求
            </blockquote>
            <div class="layui-tab">
              <ul class="layui-tab-title">
                <li class="layui-this">参数说明</li>
                <li>返回示例</li>
              </ul>
              <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                  <table class="layui-table">
                    <colgroup>
                      <col width="160">
                      <col width="100">
                      <col width="120">
                      <col width="120">
                      <col>
                      <col>
                    </colgroup>
                    <tbody>
                    <tr>
                      <td style="font-weight:bold">参数</td>
                      <td style="font-weight:bold">类型</td>
                      <td style="font-weight:bold">参与签名</td>
                      <td style="font-weight:bold">是否必填</td>
                      <td style="font-weight:bold">描述</td>

                    </tr>
                    <tr>
                      <td>mchid</td>
                      <td>string</td>
                      <td>是</td>
                      <td>是</td>
                      <td>商户id</td>
                    </tr>
                    <tr>
                      <td>out_trade_no</td>
                      <td>string</td>
                      <td>是</td>
                      <td>是</td>
                      <td>商户订单id 唯一 不能重复 重复会创建订单失败 由商户控制</td>
                    </tr>
                    <tr>
                      <td>amount</td>
                      <td>double</td>
                      <td>是</td>
                      <td>是</td>
                      <td>金额 最大两位小数</td>
                    </tr>
                    <tr>
                      <td>channel</td>
                      <td>string</td>
                      <td>是</td>
                      <td>是</td>
                      <td>渠道 见附件 渠道列表</td>
                    </tr>
                    <tr>
                      <td>notify_url</td>
                      <td>string</td>
                      <td>是</td>
                      <td>是</td>
                      <td>异步通知地址 必须http:或者https:格式</td>
                    </tr>
                    <tr>
                      <td>return_url</td>
                      <td>string</td>
                      <td>是</td>
                      <td>是</td>
                      <td>同步通知地址 必须http:或者https:格式</td>
                    </tr>
                    <tr>
                      <td>time_stamp</td>
                      <td>string</td>
                      <td>是</td>
                      <td>是</td>
                      <td>时间如20180824030711</td>
                    </tr>
                    <tr>
                      <td>body</td>
                      <td>string</td>
                      <td>是</td>
                      <td>是</td>
                      <td>宝转卡 必须传支付宝用户名 否则无法到账其它请填１２３</td>
                    </tr>
                    <tr>
                      <td>sign</td>
                      <td>string</td>
                      <td>是</td>
                      <td>否</td>
                      <td>签名 见签名规则</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="layui-tab-item">
                  <pre class="layui-code">
{
    "code": 0,
    "msg": "操作成功",
    "data": {
        "request_url": "http://xxxxxxxx/payThird.jsp?orderId=easypay2019071831607197005045326668",
    }
}
                  </pre>
                </div>
              </div>
            </div>
          </div>
          <div class="layui-tab-item">
            <blockquote class="layui-elem-quote">
              该通知以POST <strong style="color: red;font-size: 1.3rem">form-data</strong> 方式请求，编码：UTF8<br></br>
              SUCCESS 返回成功表示通知成功</br></br>
              备注 总共通知6次 直到返回 SUCCESS 不会在发起通知，超过6次不会在发起通知</br></br>
            </blockquote>

            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
              <legend>参数说明</legend>
            </fieldset>
            <div class="layui-tab">
              <ul class="layui-tab-title">
                <li class="layui-this">参数说明</li>
              </ul>
              <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                  <table class="layui-table">
                    <colgroup>
                      <col width="160">
                      <col width="100">
                      <col width="120">
                      <col width="120">
                      <col>
                      <col>
                    </colgroup>
                    <tbody>
                    <tr>
                      <td style="font-weight:bold">参数</td>
                      <td style="font-weight:bold">类型</td>
                      <td style="font-weight:bold">参与签名</td>
                      <td style="font-weight:bold">是否必填</td>
                      <td style="font-weight:bold">描述</td>

                    </tr>
                    <tr>
                      <td>amount</td>
                      <td>string</td>
                      <td>是</td>
                      <td>是</td>
                      <td>金额</td>
                    </tr>
                    <tr>
                      <td>body</td>
                      <td>string</td>
                      <td>是</td>
                      <td>是</td>
                      <td>成功时间 时间戳</td>
                    </tr>
                    <tr>
                      <td>channel</td>
                      <td>string</td>
                      <td>是</td>
                      <td>是</td>
                      <td>充值方式</td>
                    </tr>
                    <tr>
                      <td>trade_no</td>
                      <td>string</td>
                      <td>是</td>
                      <td>是</td>
                      <td>平台订单号</td>
                    </tr>
                    <tr>
                      <td>out_trade_no</td>
                      <td>string</td>
                      <td>是</td>
                      <td>是</td>
                      <td>商户订单号</td>
                    </tr>
                    <tr>
                      <td>order_status</td>
                      <td>string</td>
                      <td>是</td>
                      <td>是</td>
                      <td>状态 1 成功</td>
                    </tr>
                    <tr>
                      <td>sign</td>
                      <td>string</td>
                      <td>是</td>
                      <td>否</td>
                      <td>签名 见签名规则</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="layui-tab-item">
            <blockquote class="layui-elem-quote">
              网关地址：http://www.xxxx.com/api/pay/query
              <br><br>
              注意要点：POST <strong style="color: red;font-size: 1.3rem">form-data</strong> 方式请求，编码：UTF8
            </blockquote>
            <div class="layui-tab">
              <ul class="layui-tab-title">
                <li class="layui-this">参数说明</li>
                <li>返回内容示例</li>
              </ul>
              <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                  <table class="layui-table">
                    <colgroup>
                      <col width="160">
                      <col width="100">
                      <col width="120">
                      <col width="120">
                    </colgroup>
                    <tbody>
                    <tr>
                      <td style="font-weight:bold">参数</td>
                      <td style="font-weight:bold">类型</td>
                      <td style="font-weight:bold">是否必填</td>
                      <td style="font-weight:bold">描述</td>
                    </tr>
                    <tr>
                      <td>out_trade_no</td>
                      <td>string</td>
                      <td>是</td>
                      <td>商户订单号</td>
                    </tr>
                    <tr>
                      <td>mchid</td>
                      <td>string</td>
                      <td>是</td>
                      <td>商户号</td>
                    </tr>
                    <tr>
                      <td>channel</td>
                      <td>string</td>
                      <td>是</td>
                      <td>渠道编码</td>
                    </tr>
                    <tr>
                      <td>sign</td>
                      <td>string</td>
                      <td>是</td>
                      <td>签名 见签名规则</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="layui-tab-item">
                    <pre class="layui-code">
{
    "code": 0,
    "msg": "请求成功",
    "data": {
        "trade_no": "平台订单号",
        "out_trade_no": "商户订单号",
        "amount": "订单金额",
        "status": "订单状态【CLOSE：订单关闭，SUCCESS：订单已成功】",
    }
}
                    </pre>
                </div>
              </div>
            </div>
          </div>

          <div class="layui-tab-item">
            <blockquote class="layui-elem-quote">
              网关地址：http://www.xxxx.com/api/pay/balance
              <br><br>
              注意要点：POST <strong style="color: red;font-size: 1.3rem">form-data</strong> 方式请求，编码：UTF8
            </blockquote>
            <div class="layui-tab">
              <ul class="layui-tab-title">
                <li class="layui-this">参数说明</li>
                <li>返回内容示例</li>
              </ul>
              <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                  <table class="layui-table">
                    <colgroup>
                      <col width="160">
                      <col width="100">
                      <col width="120">
                      <col width="120">
                    </colgroup>
                    <tbody>
                    <tr>
                      <td style="font-weight:bold">参数</td>
                      <td style="font-weight:bold">类型</td>
                      <td style="font-weight:bold">是否必填</td>
                      <td style="font-weight:bold">描述</td>
                    </tr>
                    <tr>
                      <td>mchid</td>
                      <td>string</td>
                      <td>是</td>
                      <td>商户id</td>
                    </tr>
                    <tr>
                      <td>sign</td>
                      <td>string</td>
                      <td>是</td>
                      <td>签名 见签名规则</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="layui-tab-item">
                    <pre class="layui-code">
{
    "code": 0,
    "msg": "请求成功",
    "data": {
          "balance":"100.000"
    }
}
                    </pre>
                </div>
              </div>
            </div>
          </div>

          <div class="layui-tab-item">
            <div class="layui-tab">
              <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                  <table class="layui-table">
                    <colgroup>
                      <col width="160">
                      <col width="100">
                      <col width="120">
                      <col width="120">
                    </colgroup>
                    <tbody>
                    <tr>
                      <td style="font-weight:bold">渠道名称</td>
                      <td style="font-weight:bold">渠道值</td>
                    </tr>

                    {volist name="pay_codes" id="vo"}
                    <tr>
                      <td>{$vo.name}</td>
                      <td>{$vo.code}</td>
                    </tr>
                    {/volist}

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<script src="__STATIC__/layui/layui.js"></script>

<script>
  layui.use('element', function () {
  });
</script>

</body>
</html>