<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>代付订单 - 服务商管理 - 码商管理后台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    {include file="/common/link"}
</head>
<body>
    <div class="layuimini-container">
        <div class="layuimini-main">
            <div class="layui-form layuimini-form">
                <form class="layui-form" action="" lay-filter="add-form">
                <div class="layui-form-item">
                    <label class="layui-form-label">申请金额</label>
                    <div class="layui-input-block">
                    <input type="text" name="amount" required lay-verify="required|number" placeholder="请输入申请金额" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">申请原因</label>
                    <div class="layui-input-block">
                    <textarea name="reason" required lay-verify="required" placeholder="请输入申请原因" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                       
                        <input type="hidden" name="__token__" value="{$Request.token}" />
                    <button class="layui-btn" lay-submit lay-filter="add-submit">提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
{include file="common/js"}
<script>

layui.use('table', function(){
        var table = layui.table,
            form = layui.form,
            $ = layui.jquery,
            u = layui.util;



  // 监听表单提交事件
  layui.form.on('submit(add-submit)', function(data){
    // 发送 AJAX 请求
    layui.jquery.ajax({
      url: 'add',
      type: 'POST',
      data: data.field,
      success: function(res){
        if (res.code === 0) {
          layui.layer.msg(res.msg, {icon: 2});
        } else {
          layui.layer.msg(res.msg, {icon: 1});
          //成功就刷新页面
            setTimeout(function(){
                window.location.reload();
            }, 1000);
          
        }
      },
      error: function(){
        layui.layer.msg('网络错误，请稍后重试', {icon: 2});
      }
    });
    return false;
  });

})


</script>