<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>支付宝口令红包 - 码商管理后台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {include file="/common/link"}

    <style>
        .layui-card-body fieldset {
            margin: 0;
            border: 1px solid #e6e6e6;
            padding: 10px 20px 5px 20px;
            color: #6b6b6b;
        }

        .layui-card .layui-table-view {

            margin-top: 10px;
        }

        .layui-table-cell {
            height: auto;
            overflow: visible;
            text-overflow: inherit;
            white-space: normal;
            word-break: break-all;
        }

    </style>
</head>
<body layadmin-themealias="default">
<div class="app" ></div>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <fieldset id="searchFieldset_currentTableRenderId" class="table-search-fieldset layui-hide1">
                <legend>高级搜索</legend>
                <form class="layui-form layui-form-pane form-search">

                    <div class="layui-form-item layui-inline">
                        <label class="layui-form-label">金额</label>
                        <div class="layui-input-inline">
                            <input type="text" name="amount" placeholder="请输入金额" autocomplete="off"
                                   class="layui-input">
                        </div>
                    </div>


                    <div class="layui-form-item layui-inline">
                        <label class="layui-form-label">状态</label>
                        <div class="layui-input-inline">
                            <select class="layui-select" id="status" name="status" data-search-op="=">
                                <option value="-1">- 全部 -</option>
                                <option value="1">待审核</option>
                                <option value="2">审核通过</option>
                                <option value="3">审核驳回</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">申请时间</label>
                        <div class="layui-inline" id="test-range">
                          <div class="layui-input-inline">
                            <input type="text" id="startDate" name="startDate" class="layui-input app-laydate-item" placeholder="开始日期" placeholder="yyyy-MM-dd HH:mm:ss">
                          </div>
                          <div class="layui-form-mid">-</div>
                          <div class="layui-input-inline">
                            <input type="text" id="endDate" name="endDate" class="layui-input app-laydate-item"  placeholder="yyyy-MM-dd HH:mm:ss">
                          </div>
                        </div>
                      </div>
          

                    <div class="layui-form-item layui-inline">
                        <div class="layui-form-item layui-inline">
                            <button type="submit" class="layui-btn layui-btn-normal" data-type="tableSearch"
                                    data-table="currentTableRenderId" lay-submit
                                    lay-filter="balance-recharge-search"> 搜 索
                            </button>
                            <button type="reset" class="layui-btn layui-btn-primary"
                                    data-table-reset="currentTableRenderId"> 重 置
                            </button>
                        </div>
                    </div>
                </form>
            </fieldset>
            <table class="layui-hide" id="ms-balance_recharge" lay-filter="ms-balance_recharge"></table>
        </div>
    </div>
</div>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="add">添加</button>
        <div class="layui-btn layui-btn-sm layui-bg-cyan" lay-event="refresh"><i
                class="layui-icon layui-icon-refresh-3"></i></div>
    </div>
</script>

<script type="text/html" id="barDemo">
    
    {{# if(d.status == 1){ }}

    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="cancelReview">取消审核</a>
    
    {{# } }}

</script>


<script src="/public/static/member/lib/layui-v2.6.3/layui.js"></script>
<script src="/public/static/member/js/lay-config.js?v=2.0.0" charset="utf-8"></script>
<script type="text/javascript" src="/public/static/common/js/jquery.qrcode.js"></script>


<script src="/public/static/member/layui/layui.js"></script>

<script>
    layui.use(['table','form','laydate'], function () {
        var table = layui.table,
            laydate = layui.laydate,
            form = layui.form;

        //监听搜索
        form.on('submit(balance-recharge-search)', function (data) {
            var field = data.field;
            //执行重载
            table.reload('ms-balance_recharge', {
                where: field
            }, 'data');
            return false;
        });

        table.on('toolbar(ms-balance_recharge)', function (obj) {
            var layEvent = obj.event;
            if (layEvent === 'refresh') {
                table.reload('ms-balance_recharge');
            }else if(layEvent === 'add'){
                layer.open({
                    type: 2
                    , title: '添加'
                    , content: '/member/ms_balance_recharge/add'
                    , maxmin: true
                    , area: ['60%', '60%']
                    , btn: ['确定', '取消']
                    , yes: function (index, layero) {
                        var iframeWindow = window['layui-layer-iframe' + index]
                            , submitID = 'ms-balance_recharge_submit'
                            , submit = layero.find('iframe').contents().find('#' + submitID);

                        //监听提交
                        iframeWindow.layui.form.on('submit(' + submitID + ')', function (data) {
                            var field = data.field; //获取提交的字段
                            console.log(field);
                            //提交 Ajax 成功后，静态更新表格中的数据
                            $.ajax({
                                url: '/member/ms_balance_recharge/add',
                                type: 'post',
                                data: field,
                                dataType: 'json',
                                success: function (res) {
                                    if (res.code == 1) {
                                        layer.msg(res.msg, {icon: 1, time: 1000}, function () {
                                            layer.close(index); //关闭弹层
                                            table.reload('ms-balance_recharge'); //数据刷新
                                        });
                                    } else {
                                        layer.msg(res.msg, {icon: 2, time: 1000});
                                    }
                                }
                            });
                        });

                        submit.trigger('click');
                    }
                });
            }
        });

        table.render({
            elem: '#ms-balance_recharge'
            , url: '/member/ms_balance_recharge/index'
            , toolbar: '#toolbarDemo'
            , title: '码商充值'
            , cols: [[
                {type: 'checkbox', fixed: 'left'}
                , {field: 'id', title: 'ID', width: 80, fixed: 'left', unresize: true, sort: true}
                , {field: 'amount', title: '充值金额'}
                // ,{field:'admin_id', title:'所属管理', width:80}
                , {field: 'reason', title: '申请原因'}
                , {field: 'status', title: '状态',templet: function (d) {
                        if (d.status == 1) {
                            return '<span class="layui-badge layui-bg-blue">待审核</span>';
                        } else if (d.status == 2) {
                            return '<span class="layui-badge layui-bg-green">审核通过</span>';
                        } else if (d.status == 3) {
                            return '<span class="layui-badge layui-bg-red">审核驳回</span>';
                        } else if (d.status == 4) {
                            return '<span class="layui-badge layui-bg-black">已取消</span>';
                        }
                    }}
                , {field: 'create_time', title: '创建时间'}
                , {field: 'update_time', title: '更新时间'}
                , {fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150}
            ]]
            , page: true
        });

        //监听行工具事件
        table.on('tool(ms-balance_recharge)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;
            if (layEvent === 'cancelReview') {
                layer.confirm('确定取消审核吗？', function (index) {
                    $.ajax({
                        url: '/member/ms_balance_recharge/cancelReview',
                        type: 'post',
                        data: {id: data.id},
                        dataType: 'json',
                        success: function (res) {
                            if (res.code == 1) {
                                layer.msg(res.msg, {icon: 1, time: 1000}, function () {
                                    layer.close(index); //关闭弹层
                                    table.reload('ms-balance_recharge'); //数据刷新
                                });
                            } else {
                                layer.msg(res.msg, {icon: 2, time: 1000});
                            }
                        }
                    });
                });
            }
        });


        lay('.app-laydate-item').each(function(k,v){
        var  timestamp=(k==0)?' 00:00:00':" 00:00:00";
        var date=new Date();
        date.setHours('00');date.setMinutes('00');date.setSeconds('00');
        if(k==1){
          date.setHours('23');date.setMinutes('59');date.setSeconds('59');
        }
        laydate.render({
          elem: this,
          format: 'yyyy-MM-dd',type:'datetime'
          ,istime:false
          ,value:date
          ,trigger: 'click'
        });
      });

    });
</script>

</body>
</html>
