<!--<p style="color: red">如因网络等原因数据不对请点击强制刷新统计数据按钮！</p>-->
<button type="button" class="layui-btn" onclick="isRefresh('{:input(\"pay_code\")}')">强制刷新统计数据</button>
<div class="layui-container">
    <div class="layui-row">

        <div class="layui-col-md2">
            <div class="grid-demo grid-demo-bg1">

                <div class="panel-body">
                    <div class="panel-title">
                        <h5>今日收款笔数</h5>
                    </div>
                    <div class="panel-content">
                        {if $head_data.today_sk}
                        <h1 class="no-margins count_all_suc_count">{$head_data.today_sk}</h1>
                        {else}
                        <h1 class="no-margins count_all_suc_count">0</h1>
                        {/if}
                    </div>
                </div>


            </div>
        </div>

        <div class="layui-col-md2">
            <div class="grid-demo grid-demo-bg1">

                <div class="panel-body">
                    <div class="panel-title">
                        <h5>今日收款总额</h5>
                    </div>
                    <div class="panel-content">
                        {if $head_data.today_sk_ze}
                        <h1 class="no-margins count_all_suc_money">{$head_data.today_sk_ze}</h1>
                        {else}
                        <h1 class="no-margins count_all_suc_money">0</h1>
                        {/if}
                    </div>
                </div>


            </div>
        </div>
        <div class="layui-col-md2">
            <div class="grid-demo">
                <div class="panel-body">
                    <div class="panel-title">
                        <h5>今日提成</h5>
                    </div>
                    <div class="panel-content">
                        <div class="panel-content">
                            {if $head_data.today_tc}
                            <h1 class="no-margins count_all_receive_money">{$head_data.today_tc}</h1>
                            {else}
                            <h1 class="no-margins count_all_receive_money">0</h1>
                            {/if}
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="layui-col-md2">
            <div class="grid-demo grid-demo-bg1">

                <div class="panel-body">
                    <div class="panel-title">
                        <h5>冻结余额</h5>
                    </div>
                    <div class="panel-content">
                        <h1 class="no-margins count_all_disable_money">{$head_data.disable_money}</h1>
                    </div>
                </div>


            </div>
        </div>

        <!--
        <div class="layui-col-md2">
            <div class="grid-demo grid-demo-bg1">

                <div class="panel-body">
                    <div class="panel-title">
                        <h5>成功率（%）</h5>
                    </div>
                    <div class="panel-content">
                        <h1 class="no-margins count_succ_percent">0.00%</h1>
                    </div>
                </div>



            </div>
        </div>-->

<!--        <div class="layui-col-md2">-->
<!--            <div class="grid-demo grid-demo-bg1">-->

<!--                <div class="panel-body">-->
<!--                    <div class="panel-title">-->
<!--                        <h5>总押金</h5>-->
<!--                    </div>-->
<!--                    <div class="panel-content">-->
<!--                        <h1 class="no-margins count_total_deposit_balance">{$head_data.total_yj}</h1>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="layui-col-md2">-->
<!--            <div class="grid-demo grid-demo-bg1">-->

<!--                <div class="panel-body">-->
<!--                    <div class="panel-title">-->
<!--                        <h5>可用接单押金</h5>-->
<!--                    </div>-->
<!--                    <div class="panel-content">-->
<!--                        <h1 class="no-margins count_avariable_deposit_balance">{$head_data.normal_yj}</h1>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->


<!--        <div class="layui-col-md2">-->
<!--            <div class="grid-demo grid-demo-bg1">-->

<!--                <div class="panel-body">-->
<!--                    <div class="panel-title">-->
<!--                        <h5>最低接单押金</h5>-->
<!--                    </div>-->
<!--                    <div class="panel-content">-->
<!--                        <h1 class="no-margins count_acceptorder_min">{$head_data.lowest_yj}</h1>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

{if condition="$member_view_queue eq 1"}
        <div class="layui-col-md2">
            <div class="grid-demo grid-demo-bg1">

                <div class="panel-body">
                    <div class="panel-title">
                        <h5>排队位置</h5>
                    </div>
                    <div class="panel-content">
                        <h1 class="no-margins count_queue_participant">{$head_data.currentLocation}</h1>
                        <button class="layui-btn layui-btn-xs" onclick="checkStatus('{:input(\"pay_code\")}')">
                            <i class="layui-icon layui-icon-search layuiadmin-button-btn">检测状态</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
{/if}
        <!--  <div class="layui-col-md2">
            <div class="grid-demo grid-demo-bg1">

              <div class="panel-body">
                <div class="panel-title">
                  <h5>下次接单账号</h5>
                </div>
                <div class="panel-content">
                  <h1 class="no-margins count_next_receive_groupname"></h1>
                </div>
              </div>
            </div>
          </div>-->

        <!--    <div class="layui-col-md2">
              <div class="grid-demo grid-demo-bg1">

                <div class="panel-body">
                  <div class="panel-title">
                    <h5>排队位置</h5>
                  </div>
                  <div class="panel-content">
                    <h1 class="no-margins count_position_participant">-</h1>
                  </div>
                </div>
              </div>
            </div>-->

        <div class="layui-col-md2">
            <div class="grid-demo grid-demo-bg1">

                <div class="panel-body">
                    <div class="panel-title">
                        <h5>接单</h5>
                    </div>
                    <div class="panel-content">
                        <form class="layui-form">
                                        <span id="channel_open_chk">
                                            <input type="checkbox" name="is_receive_order" value="1" lay-skin="switch" lay-text="开启接单|关闭接单"
                                                   lay-filter="editMsWorkStatus" {if condition="$head_data.work_status == 1"}checked{/if}>
                                            <div class="layui-unselect layui-form-switch"
                                                 lay-skin="_switch"><em>关闭接单</em><i></i>
                                            </div>
                                        </span>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<link rel="stylesheet" href="/public/static/member/css/toastr.css">
<script type="text/javascript" src="__MS__/js/jquery.min.js"></script>
<script type="text/javascript" src="/public/static/member/js/toastr.js"></script>


<script type="text/javascript">


    function checkStatus(pay_code)
    {

        layer.prompt({
            formType: 2,
            value: '',
            title: '请输入金额',
            area: ['200px', '50px'],
            btn: ['确定', '取消'],
            success: function(layero, index) {
                var input = layero.find('input');
                input.attr('pattern', '^\\d+(\\.\\d{1,2})?$');
            }
        }, function (value, index) {
            // 点击确定按钮后的回调函数
            if (!/^\d+(\.\d{1,2})?$/.test(value)) {
                layer.msg('请输入正确的金额格式');
                return false; // 返回false，弹出框不会自动关闭
            }

            $.ajax({
                url:'checkStatus?pay_code=' + pay_code,
                method:'post',
                data:{amount:value},
                success:function(res){
                    layer.msg(res.msg, {icon: res.code == 1 ? 1 : 2, time: 1500});
                    return;
                }
            })

            // layer.close(index); // 关闭弹出框
        });
    }

    var member_id = '{$agent_id}';
    function isRefresh(pay_code){
        $.ajax({
            url:'pay?pay_code=' + pay_code + '&member_id=' + member_id,
            method:'post',
            data:{isRefresh:1},
            success:function(res){
                // layer.msg(res.msg, {icon: res.code == 1 ? 1 : 2, time: 1500});
                // return;
                $(".count_all_suc_count").text(res.data.today_sk);
                $(".count_all_suc_money").text(res.data.today_sk_ze);
                $(".count_all_receive_money").text(res.data.today_tc);
                $(".count_all_disable_money").text(res.data.disable_money);
            }
        })

    }
</script>