
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>狂神科技|狂神聚合支付 - 添加代付中转平台</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="__ADMIN__/layui/css/layui.css" media="all">
  <style>
    .add-input{

      margin-top: 4px;

    }

    .exp{
      display: flex;
      align-items: center;
    }
  </style>
</head>
<body>

<div class="layui-form" lay-filter="layuiadmin-form-admin" id="layuiadmin-form-admin" style="padding: 20px 30px 0 0;">
  <input type="text" name="id" readonly value="{$info.id}" hidden >
  <div class="layui-form-item">
    <label class="layui-form-label">平台名称</label>
    <div class="layui-input-block">
      <input type="text" name="name" value="{$info.name}" lay-verify="required" placeholder="请输入平台名称" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">商户号</label>
    <div class="layui-input-block">
      <input type="text" name="merchant_id" value="{$info.merchant_id}" lay-verify="required" placeholder="请输入商户号" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">密钥</label>
    <div class="layui-input-block">
      <input type="text" name="api_key" value="{$info.api_key}" lay-verify="required" placeholder="请输入中转平台密钥" autocomplete="off" class="layui-input">
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">代付平台网关</label>
    <div class="layui-input-block">
      <input type="text" id="api_url" name="api_url" value="{$info.api_url}" lay-verify="required" placeholder="请输入中转平台网关" autocomplete="off" class="layui-input">
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">平台查询余额网关</label>
    <div class="layui-input-block">
      <input type="text" id="query_balance_url" name="query_balance_url" value="{$info.query_balance_url}" placeholder="平台查询余额网关" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">控制器</label>
    <div class="layui-input-block">
      <input type="text" id="controller" name="controller" disabled value="{$info.controller}" lay-verify="required" placeholder="联系技术人员索取，请勿乱填" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">最小请求金额（0为不限制）</label>
    <div class="layui-input-block">
      <input type="text" name="min_money" value="{$info.min_money}" lay-verify="required" placeholder="请输入最小请求金额" autocomplete="off" class="layui-input">
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">最大请求金额（0为不限制）</label>
    <div class="layui-input-block">
      <input type="text" name="max_money" value="{$info.max_money}" lay-verify="required" placeholder="请输入最大请求金额" autocomplete="off" class="layui-input">
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">权重（1-9）</label>
    <div class="layui-input-block">
      <input type="number" name="weight" value="{$info.weight}" lay-verify="required" placeholder="请输入权重" autocomplete="off" class="layui-input">
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">管理状态</label>
    <div class="layui-input-block">
      <input type="radio" name="status" value="1" title="启用" {$info.status == '1'?'checked':''}>
      <input type="radio" name="status" value="0" title="禁用" {$info.status == '0'?'checked':''} >
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">查询余额</label>
    <div class="layui-input-block">
      <input type="radio" name="is_query_balance" value="1" title="启用" {$info.is_query_balance == '1'?'checked':''}>
      <input type="radio" name="is_query_balance" value="0" title="禁用" {$info.is_query_balance == '0'?'checked':''} >
    </div>
  </div>

<!--  <div class="layui-form-item">-->
<!--    <label class="layui-form-label">回调IP白名单</label>-->
<!--    <div class="layui-input-block">-->
<!--      <textarea type="text" name="notify_ips" class="form-control"   rows="5">{$info.notify_ips}</textarea>-->
<!--      <p class="card-description">多个IP请用,逗号隔开</p>-->
<!--    </div>-->
<!--  </div>-->


  <div class="layui-form-item">
    <label class="layui-form-label">回调IP白名单</label>
    <div class="layui-input-block" id="notify_ips">
      <?php
    if ($info['notify_ips']):
    $notify_ips = explode(',', $info['notify_ips']);
    foreach ($notify_ips as $ip):
    if ($ip == ''): continue;
    endif;
    ?>
      <div class="layui-input-inline exp">
        <input type="text" name="notify_ips[]" value="<?php echo $ip; ?>" class="layui-input form-control">
        <button type="button" class="layui-btn layui-btn-danger delete-input">删除</button>
      </div>
      <?php endforeach; endif; ?>
      <button type="button" class="layui-btn add-input">添加</button>
    </div>
  </div>

  <input type="hidden" name="__token__" value="{$Request.token}" />

  <div class="layui-form-item layui-hide">
    <input type="button" lay-submit lay-filter="app-editdfTransfer-submit" id="app-editdfTransfer-submit" value="确认">
  </div>
</div>

<script src="__ADMIN__/layui/layui.js"></script>
<script>

  layui.config({
    base: '__ADMIN__/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'form'], function(){
    var $ = layui.$
            ,form = layui.form ;


    // 添加输入框
    $('body').on('click', '.add-input', function() {
      var inputHtml = '<div class="layui-input-inline" style="display: flex; align-items: center;"><input type="text" name="' + $(this).parent().attr('id') + '[]" class="layui-input form-control"><button type="button" class="layui-btn layui-btn-danger delete-input">删除</button></div>';
      $(this).before(inputHtml);
    });

    // 删除输入框
    $('body').on('click', '.delete-input', function() {
      $(this).parent().remove();
    });

  })
</script>
</body>
</html>