<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>后台管理 - 码商列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="__ADMIN__/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__ADMIN__/style/admin.css" media="all">
</head>
<body>

<div class="layui-fluid">
    <div class="layui-card">
        <!--头部-->
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">用户ID</label>
                    <div class="layui-input-block">
                        <input type="text" name="userid" placeholder="请输入用户ID" value="{$Request.get.userid}"
                               autocomplete="off" class="layui-input searchItem">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-block">
                        <input type="text" name="username" placeholder="请输入用户名" value="{$Request.get.username}"
                               autocomplete="off" class="layui-input searchItem">
                    </div>
                </div>


                {if condition="$admin_info.id eq 1"}
                <div class="layui-inline">
                    <label class="layui-form-label">所属平台</label>
                    <div class="layui-input-block">
                        <input type="text" name="admin_username" placeholder="请输入所属平台名称" value="{$Request.get.admin_username}"
                               autocomplete="off" class="layui-input searchItem">
                    </div>
                </div>
                {/if}
                <div class="layui-inline">
                    <label class="layui-form-label">上级名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="agent_name"  placeholder="请输入代理商名称" value="{$Request.get.agent_name}"
                               autocomplete="off" class="layui-input searchItem">
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">开工状态</label>
                    <div class="layui-input-block">
                        <select name="work_status" lay-filter="work_status" class="searchItem">
                            <option value="-1">请选择一个状态</option>
                            <option {$Request.get.work_status == '0' ? 'selected' : '' } value="0">关闭</option>
                            <option {$Request.get.work_status == '1' ? 'selected' : '' } value="1">开启</option>
                        </select>
                    </div>
                </div>


                <div class="layui-inline">
                    <label class="layui-form-label">可接单码商</label>
                    <div class="layui-input-block">
                        <select name="jd_status" lay-filter="jd_status" class="searchItem">
                            <option value="-1">请选择一个状态</option>
                            <option {$Request.get.jd_status == '1' ? 'selected' : '' } value="1">可接单</option>
                        </select>
                    </div>
                </div>


                <div class="layui-inline">
                    <button  class="layui-btn layuiadmin-btn-order" lay-submit lay-filter="app-ms-list-search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                        搜素
                    </button>
                    <button onclick="exportItem(10,layui.$('.searchItem').serialize())" class="layui-btn  layui-bg-red layuiadmin-btn-order"  data-type="all" data-events="export">
                        <i class="layui-icon layui-icon-chart-screen layuiadmin-button-btn"></i>
                        导出
                    </button>
                </div>
            </div>
        </div>
        <!--数据表-->
        <div class="layui-card-body">
            <div class="app-ms-list" style="padding-bottom: 10px;">
                <button class="layui-btn layuiadmin-btn-useradmin layui-btn-normal layui-btn-sm" data-type="add">添加</button>
                <button class="layui-btn layuiadmin-btn-useradmin layui-btn-sm" data-type="closeMsWork">一键停工</button>
<!--                <button class="layui-btn layuiadmin-btn-useradmin layui-btn-sm" data-type="recycle">回收站</button>-->

<!--                <button class="layui-btn layuiadmin-btn-useradmin layui-btn-sm" data-type="batchSetDfRate">代付费率设置</button>-->
<!--                <button class="layui-btn layuiadmin-btn-useradmin layui-btn-sm" data-type="batchSetPayRate">产品费率设置</button>-->
                <button class="layui-btn layuiadmin-btn-useradmin layui-btn-danger layui-btn-sm" data-type="batchdel">批量删除</button>
                <button class="layui-btn layuiadmin-btn-useradmin layui-btn-sm" data-type="unfreeze">解除所有冻结</button>
                <!-- 一键修改押金 -->
                <button class="layui-btn layuiadmin-btn-useradmin layui-btn-sm" data-type="batchSetDeposit">一键修改最低接单金额</button>
                <!--<button class="layui-btn batchprofit layuiadmin-btn-useradmin layui-btn-danger layui-btn-sm"  data-type="batchprofit">一键分成</button>-->
            </div>
            
            <div class="app-channel-btns" style="margin-bottom: 10px;">
                <blockquote class="layui-elem-quote layui-quote-nm">
                    码商总余额：<span id="total" class="layui-badge layui-bg-green">{$msMoney}</span> 元

                </blockquote>
                <blockquote class="layui-elem-quote layui-quote-nm">
                    可接单码商：<span id="on-line" class="layui-badge layui-bg-green">{$online}</span> 个
                </blockquote>
            </div>

            <table id="app-ms-list" lay-filter="app-ms-list"> </table>

            <script type="text/html" id="table-ms-webuser">
                <a  class="layui-btn layui-btn-xs" lay-event="clear_df_ver">清理限制</a>
                {{#  if(d.google_status == '1'){ }}
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="cleargoogleauth"><i
                        class="layui-icon layui-icon-delete"></i>清除google</a>
                {{#  } }}
                {{# if(d.admin_work_status == '1'){ }}
<!--                <a  class="layui-btn layui-btn-xs layui-btn-danger" lay-event="disable_admin_work_status"><i class="layui-icon layui-icon-edit"></i>禁用接单</a>-->

                {{# }else{ }}
<!--                <a  class="layui-btn layui-btn-xs" lay-event="enable_admin_work_status"><i class="layui-icon layui-icon-edit"></i>开启接单</a>-->

                {{# } }}
                <a  class="layui-btn layui-btn-xs" lay-event="assign_channels"><i class="layui-icon layui-icon-edit"></i>费率</a>
<!--                <a  class="layui-btn layui-btn-normal layui-btn-xs" lay-event="details"><i class="layui-icon layui-icon-edit"></i>流水</a>-->
                <!--<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="op_balance"><i
                        class="layui-icon layui-icon-edit"></i>增减余额</a>-->
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i
                        class="layui-icon layui-icon-edit"></i>编辑</a>
                <!--<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="op_white_ip"><i
                        class="layui-icon layui-icon-edit"></i>白名单</a>-->
               <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="MsChannel">接单设置</a>
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="yifen"><i
                        class="layui-icon layui-icon-edit"></i>移分</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i
                        class="layui-icon layui-icon-delete"></i>删除</a>
            </script>
            
            <script type="text/javascript" charset="utf-8" id="table-ms-jdstatus">
        
                   <input type="checkbox" name="editMsJdStatus" lay-filter="editMsJdStatus" userid={{d.userid}} lay-skin="switch" ms_jd_status={{d.work_status}} lay-text="开工|未开工"  {{d.work_status == 1 ? 'checked':''}}/>
  
            </script>

            <script type="text/javascript" charset="utf-8" id="table-ms-admin-jd-status">

                <input type="checkbox"  name="change_admin_work_status" lay-filter="change_admin_work_status" userid={{d.userid}} lay-skin="switch" ms_jd_status={{d.admin_work_status}} lay-text="开启|关闭"  {{d.admin_work_status == 1 ? 'checked':''}}/>

            </script>

               <script type="text/javascript" charset="utf-8" id="table-ms-status">
    
                   <input type="checkbox" id="editMsStatus" name="editMsStatus" lay-filter="editMsStatus" userid={{d.userid}} lay-skin="switch" ms_status={{d.status}} lay-text="正常|禁用" {{d.status == 1 ? 'checked':''}} />


            </script>

            <script type="text/javascript" charset="utf-8" id="table-team-status">

                <input type="checkbox" id="editTeamStatus" name="editTeamStatus" lay-filter="editTeamStatus" userid={{d.userid}} lay-skin="switch" team_status={{d.team_work_status}} lay-text="正常|禁用" {{d.team_work_status == 1 ? 'checked':''}} />


            </script>


            <script type="text/javascript" charset="utf-8" id="table-daifu-status">

                <input type="checkbox" id="editDaifuStatus" name="editDaifuStatus" lay-filter="editDaifuStatus" userid={{d.userid}} lay-skin="switch" is_daifu={{d.is_daifu}} lay-text="正常|禁用" {{d.is_daifu == 1 ? 'checked':''}} />


            </script>
        </div>
    </div>
</div>

<script src="__ADMIN__/layui/layui.js"></script>
<script src="__STATIC__/cloudui/js/define.js"></script>
<script>
    layui.config({
        base: '__ADMIN__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'user', 'laydate', 'table'], function () {
        var $ = layui.$
            , form = layui.form
            , laydate = layui.laydate
            , table = layui.table;

        //监听搜索
        form.on('submit(app-ms-list-search)', function (data) {
            var field = data.field;
            console.log(111111111111)
            console.log($(this).attr('id') == 'param_search');
            //监听搜索分页为1
            //执行重载
            table.reload('app-ms-list', {
                where: field,
                page: {
                    curr: 1,
                }
            });

            $.ajax({
                url : 'searchMsMoney',
                type : 'get',
                data:field,
                dataType:'json',
                success : function(data) {
                    console.log(data);
                    $("#total").text(data.data.msMoney);
                    $("#on-line").text(data.data.onlineMs);
                }
            })
        });

        form.on('switch(change_admin_work_status)',function (data) {
            //获取所需属性值
            var ms_jd_status = data.elem.attributes['ms_jd_status'].nodeValue;

            var userid = data.elem.attributes['userid'].nodeValue;
            //   console.log(ms_status)
            $.ajax({
                url:'change_admin_work_status?userid=' + userid,
                method:'post',
                data:{type:(ms_jd_status == 0) ? 1 : 0},
                success:function(res){
                    if(res.code == 1){
                        $("#on-line").text(res.data);
                        window.location.fresh
                        table.reload('app-ms-list');
                    }else{
                        window.location.fresh
                    }
                }
            })
        })

        form.on('switch(editMsJdStatus)',function (data) {
            //获取所需属性值
            var ms_jd_status = data.elem.attributes['ms_jd_status'].nodeValue;
            var userid = data.elem.attributes['userid'].nodeValue;
            //   console.log(ms_status)
            $.ajax({
                url:'editMsJdStatus?userid=' + userid,
                method:'post',
                data:{ms_jd_status:ms_jd_status},
                success:function(res){
                    if(res.code == 1){
                        $("#on-line").text(res.data);
                        window.location.fresh
                        table.reload('app-ms-list');
                    }else{
                        window.location.fresh
                    }
                }
            })
        })

        form.on('switch(editTeamStatus)',function (data) {
            //获取所需属性值
            var team_status = data.elem.attributes['team_status'].nodeValue;
            var userid = data.elem.attributes['userid'].nodeValue;
            //   console.log(ms_status)
            $.ajax({
                url:'editTeamStatus?userid=' + userid,
                method:'post',
                data:{team_status:team_status},
                success:function(res){
                    if(res.code == 1){
                        $("#on-line").text(res.data);
                        window.location.fresh
                        table.reload('app-ms-list');
                    }else{
                        window.location.fresh
                    }
                }
            })
        })

        form.on('switch(editDaifuStatus)',function (data) {
            //获取所需属性值
            var is_daifu = data.elem.attributes['is_daifu'].nodeValue;
            var userid = data.elem.attributes['userid'].nodeValue;
            //   console.log(ms_status)
            $.ajax({
                url:'editDaifuStatus?userid=' + userid,
                method:'post',
                data:{is_daifu:is_daifu},
                success:function(res){
                    if(res.code == 1){
                        $("#on-line").text(res.data);
                        window.location.fresh
                        table.reload('app-ms-list');
                    }else{
                        window.location.fresh
                    }
                }
            })
        })
                        
             form.on('switch(editMsStatus)',function (data) {
        
                                            //获取所需属性值
                      var ms_status = data.elem.attributes['ms_status'].nodeValue;
                      var userid = data.elem.attributes['userid'].nodeValue;
                    //   console.log(ms_status)
                        $.ajax({
                            url:'editMsStatus?userid=' + userid,
                            method:'post',
                            data:{ms_status:ms_status},
                            success:function(res){
                                if(res.code == 1){
                                    window.location.fresh
                                    table.reload('app-ms-list');
                                }else{
                                    window.location.fresh
                                }
                            }
                        })
                })


        //事件
        var active = {
            batchdel: function(){
                var checkStatus = table.checkStatus('app-ms-list')
                    ,checkData = checkStatus.data; //得到选中的数据

                if(checkData.length === 0){
                    return layer.msg('请选择数据');
                }
                layer.prompt({
                    formType: 1
                    ,title: '敏感操作，请验证安全码'
                }, function(value, index){
                    layer.close(index);
                    layer.confirm('确定删除吗？', function(index) {
                        var ok_transfer_arr = [];
                        for (var i = 0; i< checkData.length; i++){

                                $.ajax({
                                    url: 'del',
                                    type: "POST",
                                    data: {userid:checkData[i].userid},
                                    async: false,
                                    success: function(response) {
                                        if (response.code == 1){
                                            ok_transfer_arr.push(checkData[i].id);
                                        }
                                    }
                                });

                                /*   $.post("dfTransfer",{id:data[i].id,channel:$('#channel').val()},function (res){

                                   })
*/

                        }

                        if (ok_transfer_arr.length === 0){
                            layer.msg('操作失败',{icon:2,time: 1500},function (){
                                // layer.close(index)
                            })
                        }else{
                            layer.msg('删除成功',{icon:1,time: 1500},function (){
                                table.reload('app-ms-list');
                            })
                        }
                    });
                });
            }
            ,add: function(){
                layer.open({
                    type: 2
                    ,title: '添加码商'
                    ,content: 'add'
                    ,maxmin: true
                    ,area: ['80%','60%']
                    ,btn: ['确定', '取消']
                    ,yes: function(index, layero){
                        var iframeWindow = window['layui-layer-iframe'+ index]
                            ,submitID = 'app-ms-list-submit'
                            ,submit = layero.find('iframe').contents().find('#'+ submitID);

                        //监听提交
                        iframeWindow.layui.form.on('submit('+ submitID +')', function(obj){
                            var field = obj.field; //获取提交的字段

                            //提交 Ajax 成功后，静态更新表格中的数据
                            $.ajax({
                                url:'add',
                                method:'POST',
                                data:field,
                                success:function (res) {
                                    if (res.code == 1){
                                        table.reload('app-ms-list'); //数据刷新
                                    }
                                    layer.msg(res.msg, {icon: res.code == 1 ? 1: 2,time: 1500});
                                    layer.close(index); //关闭弹层
                                }
                            });
                        });

                        submit.trigger('click');
                    }
                });
            },
            closeMsWork: function (){
                $.post('closeMsWork',function (res){
                    if (res.code == 1){
                        layer.msg('请求成功',{icon:1,time:1500},function (){
                            table.reload('app-ms-list');
                        })
                    }
                })
            },
            batchSetDfRate:function () {

                if (getCookie('admin_check_command_ok')){
                    layer.prompt({
                            formType: 0,
                            title: "一键设置码商代付费率"
                        },
                        function (d, i) {
                            layer.close(i),
                                $.post({
                                    url: 'batchSetDfRate',
                                    method: 'POST',
                                    data: {
                                        bank_rate: d
                                    },
                                    success: function (res) {
                                        if (res.code == 1) {
                                            table.reload('app-ms-list');
                                        }
                                        layer.msg(res.msg, {icon: res.code == 1 ? 1 : 2, time: 1500});
                                        layer.close(d); //关闭弹层
                                    }
                                });

                        });

                }else{
                    layer.prompt({
                            formType: 1,
                            title: "敏感操作，请验证安全码"
                        },
                        function (d, i) {
                            layer.close(i),
                                $.ajax({
                                    url: '/admin/api/checkOpCommand?command='+ d,
                                    method:'POST',
                                    success:function (res) {
                                        if (res.code == 1){
                                            //口令正确
                                            layer.close(i); //关闭弹层
                                            layer.prompt({
                                                    formType: 0,
                                                    title: "一键设置码商代付费率"
                                                },
                                                function (d, i) {
                                                    layer.close(i),
                                                        $.post({
                                                            url: 'batchSetDfRate',
                                                            method: 'POST',
                                                            data: {
                                                                bank_rate: d
                                                            },
                                                            success: function (res) {
                                                                if (res.code == 1) {
                                                                    table.reload('app-ms-list');
                                                                }
                                                                layer.msg(res.msg, {icon: res.code == 1 ? 1 : 2, time: 1500});
                                                                layer.close(d); //关闭弹层
                                                            }
                                                        });

                                                });
                                        }else{
                                            layer.msg(res.msg,{icon:2,time:1500});
                                            layer.close(i); //关闭弹层
                                        }
                                    }
                                });

                        });
                }

            },
            batchSetPayRate: function () {
                if (getCookie('security_code_success')){
                    layer.open({
                        type: 2,
                        title: "批量设置码商产品费率",
                        content: "batchSetPayRate.html",
                        maxmin: !0,
                        area: ['80%','60%'],
                        btn: ["确定", "取消"],
                        yes: function(f, t) {
                            var l = window["layui-layer-iframe" + f],
                                r = "app-user-batch-profit-submit",
                                n = t.find("iframe").contents().find("#" + r);
                            l.layui.form.on("submit("+ r +")",
                                function(t) {
                                    var l = t.field;
                                    layui.$.post("batchSetPayRate",l,function (res) {
                                        if (res.code == 1){
                                            table.render(),
                                                layer.close(f)
                                        }
                                        layer.msg(res.msg, {icon: res.code == 1 ? 1: 2,time: 1500});
                                    });
                                }),
                                n.trigger("click")
                        },
                        success: function(e, t) {}
                    })
                } else {
                    layer.prompt({
                            formType: 1,
                            title: "敏感操作，请验证安全码"
                        },
                        function (d, i) {
                            layer.close(i),
                                $.ajax({
                                    url: '/admin/api/checkOpCommand?command='+ d,
                                    method:'POST',
                                    success:function (res) {
                                        if (res.code == 1){
                                            //口令正确
                                            layer.close(i); //关闭弹层
                                            layer.open({
                                                type: 2,
                                                title: "批量设置码商产品费率",
                                                content: "batchSetPayRate.html",
                                                maxmin: !0,
                                                area: ['80%','60%'],
                                                btn: ["确定", "取消"],
                                                yes: function(f, t) {
                                                    var l = window["layui-layer-iframe" + f],
                                                        r = "app-user-batch-profit-submit",
                                                        n = t.find("iframe").contents().find("#" + r);
                                                    l.layui.form.on("submit("+ r +")",
                                                        function(t) {
                                                            var l = t.field;
                                                            layui.$.post("batchSetPayRate",l,function (res) {
                                                                if (res.code == 1){
                                                                    table.render(),
                                                                        layer.close(f)
                                                                }
                                                                layer.msg(res.msg, {icon: res.code == 1 ? 1: 2,time: 1500});
                                                            });
                                                        }),
                                                        n.trigger("click")
                                                },
                                                success: function(e, t) {}
                                            })
                                        }else{
                                            layer.msg(res.msg,{icon:2,time:1500});
                                            layer.close(i); //关闭弹层
                                        }
                                    }
                                });

                        });
                }


            },
            recycle: function () {
                layer.open  ({
                    type: 2,
                    title: "码商回收站",
                    content: "recycle.html",
                    maxmin: !0,
                    area: ['80%','80%'],
                    yes: function(f, t) {
                        var l = window["layui-layer-iframe" + f],
                            r = "app-user-recycle-submit",
                            n = t.find("iframe").contents().find("#" + r);
                        l.layui.form.on("submit("+ r +")",
                            function(t) {
                                var l = t.field;
                                layui.$.post("recycle",l,function (res) {
                                    if (res.code == 1){
                                        table.render('app-ms-recycle-list'),
                                            layer.close(f)
                                    }
                                    layer.msg(res.msg, {icon: res.code == 1 ? 1: 2,time: 1500});
                                });
                            }),
                            n.trigger("click")
                    },
                    success: function(e, t) {}
                })
            },
            unfreeze: function () {
                layer.confirm('确认解除所有冻结余额？', {
                    btn: ['确定','取消'] //按钮
                }, function(){
                    $.post('unfreeze',function (res) {
                        if (res.code == 1){
                            table.reload('app-ms-list');
                        }
                        layer.msg(res.msg, {icon: res.code == 1 ? 1: 2,time: 1500});
                    });
                }, function(){
                    layer.close();
                });

            },
            batchSetDeposit: function()
            {
                layer.prompt({
                    title: '请输入修改后的押金金额',
                    formType: 0,
                    // value: ,
                    btn: ['确定', '取消']
                }, function(value, index, elem){
                    if (!/^\d+(\.\d+)?$/.test(value)) {
                        layui.layer.msg('请输入正确的金额', {icon: 2});
                        return false;
                    }
                    layui.jquery.ajax({
                    url: 'batchSetDeposit',
                    type: 'POST',
                    data: {
                        amount: value
                    },
                    success: function(res){
                        if (res.code === 0) {
                        layui.layer.msg(res.msg, {icon: 2});
                        } else {
                        layui.layer.msg(res.msg, {icon: 1});
                        layui.layer.close(index);
                        }
                    },
                    error: function(){
                        layui.layer.msg('网络错误，请稍后重试', {icon: 2});
                    }
                    });
                });
        
            }
        };

        $('.layui-btn.layuiadmin-btn-useradmin').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });


        window.liushuiDetails = function (userid, type)
        {

            let url = '/admin/ms/bills?uid=' + userid + '&type=' + type;

            layer.open({
                type: 2,
                title: '码商流水明细',
                content: url,
                area: ['80%', '90%']
            });
        }

        //增减余额
        window.op_balance = function (userid){

            if (getCookie('security_code_success')){
                layer.open({
                    type: 2
                    , title: '增减余额'
                    , content: 'changeBalance.html?userid=' + userid
                    , maxmin: true
                    , area: ['80%', '60%']
                    , btn: ['确定', '取消']
                    , yes: function (index, layero) {
                        var iframeWindow = window['layui-layer-iframe' + index]
                            , submitID = 'app-user-manage-submit'
                            ,
                            submit = layero.find('iframe').contents().find('#' + submitID);

                        //监听提交
                        iframeWindow.layui.form.on('submit(' + submitID + ')', function (obj) {
                            var field = obj.field; //获取提交的字段
                            field.opInfo = field.opInfo.replace(/[\r\n]/g, " ");
                            //提交 Ajax 成功后，静态更新表格中的数据
                            $.ajax({
                                url: 'changeBalance.html?uid=' + userid,
                                method: 'POST',
                                data: field,
                                success: function (res) {
                                    if (res.code == 1) {
                                        layer.msg(res.msg, {icon: 1, time: 1500},function (){
                                            layer.closeAll();
                                            table.reload('app-ms-list', {
                                                where: field,
                                                page: {
                                                    curr: 1,
                                                }
                                            });
                                        });

                                    } else {
                                        layer.msg(res.msg, {icon: 2, time: 1500});
                                    }
                                }
                            });
                        });
                        submit.trigger('click');
                    }
                });
            }else{
                layer.prompt({
                    formType: 1,
                    title: "敏感操作，请验证安全码"
                }, function(d, f) {
                    // console.log(i);return false;
                    //检测口令
                    $.ajax({
                        url: '/admin/api/checkOpCommand?command='+ d,
                        method:'POST',
                        success:function (res) {
                            if (res.code == 1){
                                //口令正确
                                layer.close(f); //关闭弹层
                                layer.open({
                                    type: 2
                                    , title: '增减余额'
                                    , content: 'changeBalance.html?userid=' + userid
                                    , maxmin: true
                                    , area: ['80%', '60%']
                                    , btn: ['确定', '取消']
                                    , yes: function (index, layero) {
                                        var iframeWindow = window['layui-layer-iframe' + index]
                                            , submitID = 'app-user-manage-submit'
                                            ,
                                            submit = layero.find('iframe').contents().find('#' + submitID);

                                        //监听提交
                                        iframeWindow.layui.form.on('submit(' + submitID + ')', function (obj) {
                                            var field = obj.field; //获取提交的字段
                                            field.opInfo = field.opInfo.replace(/[\r\n]/g, " ");
                                            //提交 Ajax 成功后，静态更新表格中的数据
                                            $.ajax({
                                                url: 'changeBalance.html?uid=' + userid,
                                                method: 'POST',
                                                data: field,
                                                success: function (res) {
                                                    if (res.code == 1) {
                                                        layer.msg(res.msg, {icon: 1, time: 1500},function (){
                                                            layer.closeAll();
                                                            table.reload('app-ms-list', {
                                                                where: field,
                                                                page: {
                                                                    curr: 1,
                                                                }
                                                            });
                                                        });

                                                    } else {
                                                        layer.msg(res.msg, {icon: 2, time: 1500});
                                                    }
                                                }
                                            });
                                        });
                                        submit.trigger('click');
                                    }
                                });
                            }else{
                                layer.msg(res.msg,{icon:2,time:1500});
                                layer.close(d); //关闭弹层
                            }
                        }
                    });
                });
            }

        }

        //增减余额
        window.op_disable_balance = function (userid){
            if (getCookie('security_code_success')){
                layer.open({
                    type: 2
                    , title: '增减余额'
                    , content: 'changeDisableBalance.html?userid=' + userid
                    , maxmin: true
                    , area: ['80%', '60%']
                    , btn: ['确定', '取消']
                    , yes: function (index, layero) {
                        var iframeWindow = window['layui-layer-iframe' + index]
                            , submitID = 'app-user-manage-submit'
                            ,
                            submit = layero.find('iframe').contents().find('#' + submitID);

                        //监听提交
                        iframeWindow.layui.form.on('submit(' + submitID + ')', function (obj) {
                            var field = obj.field; //获取提交的字段
                            field.opInfo = field.opInfo.replace(/[\r\n]/g, " ");
                            //提交 Ajax 成功后，静态更新表格中的数据
                            $.ajax({
                                url: 'changeDisableBalance.html?uid=' + userid,
                                method: 'POST',
                                data: field,
                                success: function (res) {
                                    if (res.code == 1) {
                                        layer.msg(res.msg, {icon: 1, time: 1500},function (){
                                            layer.closeAll();
                                            table.reload('app-ms-list', {
                                                where: field,
                                                page: {
                                                    curr: 1,
                                                }
                                            });
                                        });

                                    } else {
                                        layer.msg(res.msg, {icon: 2, time: 1500});
                                    }
                                }
                            });
                        });
                        submit.trigger('click');
                    }
                });
            }else{
                layer.prompt({
                    formType: 1,
                    title: "敏感操作，请验证安全码"
                }, function(d, f) {
                    // console.log(i);return false;
                    //检测口令
                    $.ajax({
                        url: '/admin/api/checkOpCommand?command='+ d,
                        method:'POST',
                        success:function (res) {
                            if (res.code == 1){
                                //口令正确
                                layer.close(f); //关闭弹层
                                layer.open({
                                    type: 2
                                    , title: '增减余额'
                                    , content: 'changeDisableBalance.html?userid=' + userid
                                    , maxmin: true
                                    , area: ['80%', '60%']
                                    , btn: ['确定', '取消']
                                    , yes: function (index, layero) {
                                        var iframeWindow = window['layui-layer-iframe' + index]
                                            , submitID = 'app-user-manage-submit'
                                            ,
                                            submit = layero.find('iframe').contents().find('#' + submitID);

                                        //监听提交
                                        iframeWindow.layui.form.on('submit(' + submitID + ')', function (obj) {
                                            var field = obj.field; //获取提交的字段
                                            field.opInfo = field.opInfo.replace(/[\r\n]/g, " ");
                                            //提交 Ajax 成功后，静态更新表格中的数据
                                            $.ajax({
                                                url: 'changeDisableBalance.html?uid=' + userid,
                                                method: 'POST',
                                                data: field,
                                                success: function (res) {
                                                    if (res.code == 1) {
                                                        layer.msg(res.msg, {icon: 1, time: 1500},function (){
                                                            layer.closeAll();
                                                            table.reload('app-ms-list', {
                                                                where: field,
                                                                page: {
                                                                    curr: 1,
                                                                }
                                                            });
                                                        });

                                                    } else {
                                                        layer.msg(res.msg, {icon: 2, time: 1500});
                                                    }
                                                }
                                            });
                                        });
                                        submit.trigger('click');
                                    }
                                });
                            }else{
                                layer.msg(res.msg,{icon:2,time:1500});
                                layer.close(d); //关闭弹层
                            }
                        }
                    });
                });
            }

        }


        window.toEnableMoney = function (userid, type = 'disable') {
            let type_text = type == 'disable' ? '冻结余额' : '代付余额';
            layer.confirm("确定解除码商"+type_text+"？",
                function (d) {
                    $.ajax({
                        url: 'toEnableMoney?userid=' + userid,
                        method: 'POST',
                        data: {type: type, userid: userid},
                        success: function (res) {
                            if (res.code == 1) {
                                table.reload('app-ms-list');
                            }
                            layer.msg(res.msg, {icon: res.code == 1 ? 1 : 2, time: 1500});
                            layer.close(d); //关闭弹层
                        }
                    });
                })
        }

        window.enableToMoney = function (userid) {
            layer.confirm("确定解除码商冻结余额？",
                function (d) {
                    $.ajax({
                        url: 'enableToMoney?userid=' + userid,
                        method: 'POST',
                        success: function (res) {
                            if (res.code == 1) {
                                table.reload('app-ms-list');
                            }
                            layer.msg(res.msg, {icon: res.code == 1 ? 1 : 2, time: 1500});
                            layer.close(d); //关闭弹层
                        }
                    });
                })
        }
    });



    /*var x,y;
    $(document).mousedown(function(event){ //获取鼠标按下的位置
        x = event.pageX;
        y = event.pageY;
    });
    $(document).mouseup(function(event){//鼠标释放
        var newX = event.pageX;
        var newY = event.pageY;
        if(x==newX && y==newY){
            //位置相同的操作
        }
        else{
            //表格内容高度重渲染
            //我这里只有右边有 固定列 左边是没有的，如果左右都有请自己查看元素 使用eq()选择器选择
            //正确的 tr数组
            $(".layui-table-body  tr").each(function (index, val) {
                $($(".layui-table-fixed .layui-table-body table tr")[index]).height($(val).height());
                //表头高度重渲染
            });
            //这里 .layui-table-header 第二个元素是固定列 第一个是需要获取的
            $(".layui-table-header").eq(1).find("tr").eq(0).height($(".layui-table-header").eq(0).find("tr").eq(0).height());
        }

    })*/
</script>
</body>
</html>
